astropy==6.0.0
astropy-iers-data==0.2024.1.15.0.30.14
astroquery==0.4.6
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.2
html5lib==1.1
idna==3.6
jaraco.classes==3.3.0
keyring==24.3.0
kiwisolver==1.4.5
matplotlib==3.8.2
more-itertools==10.2.0
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pillow==10.2.0
pyerfa==2.0.1.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyvo==1.5
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.4
six==1.16.0
soupsieve==2.5
tzdata==2023.4
urllib3==2.1.0
webencodings==0.5.1
